* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
}

.luz {
    width: 300px;
    margin: 0 auto;
}

.luz img {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.8s ease;
    opacity: 1;
}

.wraper {
    display: flex;
    justify-content: space-between;
    border: black;
}

.wraper button {
    font-size: 20px;
    padding: 5px;
}